body {
  /* background-color: rgb(33, 37, 41) !important; */
  background-color: black !important;
  color: white !important;
}
.nav-item {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  font-size: 30px;
}

.banner {
  display: flex;
  align-items: center;
  height: 600px;
}

/* ::before : 가상선택자 - 존재하지 않은 요소를 존재하는 요소처럼 보여지게 하는 선택자 */
.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: "";
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 40%;
  margin-left: 20px;
  z-index: 1;
}

.movie-slide {
  margin-bottom: 20px;
}

.movie-card {
  height: 200px;
  width: 300px;
  background-size: 100% 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.movie-card:hover .overlay {
  opacity: 1;
}

.movie-card > a {
  color: white;
  text-decoration: none;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  opacity: 0;
  padding-left: 20px;
}

.movie-card > .overlay > .genres,
.movie-card > .overlay > .card-info {
  display: flex;
  gap: 15px;
}

/* MovieDetails */
.movie-details {
  display: flex;
  padding: 50px;
  gap: 50px;
}

.movie-details .poster > img {
  width: 500px;
}

.movie-details .genre {
  display: flex;
  gap: 20px;
}

.movie-details .genre + h1 {
  font-size: 4em;
  margin: 40px 0;
}

.movie-details h4 + div {
  display: flex;
  gap: 15px;
  border-bottom: 3px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie-details .overview {
  border-bottom: 3px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Review */
.review-box {
  border: 3px solid white;
  padding: 30px;
}

.review-item {
  border-bottom: 3px solid white;
  margin-bottom: 15px;
}

/* Movies */
.movie-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap : 30px;
  
}